{% extends "base.html" %}

{% block content %}
  

 
                    <!-- <div class="panel-heading">Alumnos</div>  -->
                    <div class="panel-body">
                        <div class="page-header">
                            <br>
                        <h3>
                            <a href="/" class="btn btn-success">
                            <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                            </a>
                            <strong>Nueva Recepcion</strong>
                        </h3>                                                        
                        </div><!-- page-header -->

  
<form class="form-horizontal" method="post">{% csrf_token %}    
                 

		<div class="row"> 
		 
		
	            {{ form.as_p}}
	 
	      <div class="col-sm-10 col-sm-offset-2">
	        <button type="submit" id="id_submit" class="btn btn-primary">Salvar</button>
	      </div>
	     </div>

</form>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function(){ 
    $( "#fecha" ).datepicker();   
  });
  </script>



{% endblock content %}
